<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties" />
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="co/community/yedam/member/service/MemberMapper.xml" />
		<mapper resource="co/community/yedam/questions/service/questionsMapper.xml" />
		<mapper resource="co/community/yedam/freeBoard/service/FreeBoardMapper.xml" />
		<mapper resource="co/community/yedam/noticeBoard/service/NoticeBoardMapper.xml" />
		<mapper resource="co/community/yedam/projectStudy/service/ProjectStudyMapper.xml" />	
  </mappers>
</configuration>