<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.community.yedam.member.service.MemberMapper">

	<select id="memberSelectList" resultType="co.community.yedam.member.service.MemberVO">
		SELECT * FROM MEMBER
	</select>
	
	<!-- 동적 sql예시. id만 들어오면 찾아주고, 둘 다 들어오면 로그인 처리해주는 거 -->
	<select id="memberSelect" resultType="co.community.yedam.member.service.MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		<if test="memberPw != null">
			AND MEMBER_PW = #{memberPw}
		</if>
	</select>
	
	<insert id="memberInsert" parameterType="co.community.yedam.member.service.MemberVO">
		
		INSERT INTO MEMBER (MEMBER_ID, MEMBER_NAME, MEMBER_PW, MEMBER_GENDER, MEMBER_BIRTH, MEMBER_EMAIL, MEMBER_ADDRESS, MEMBER_TEL)
		VALUES (#{memberId},#{memberName},#{memberPw},#{memberGender},#{memberBirth},#{memberEmail},#{memberAddress},#{memberTel})
	
	</insert>
	
	<update id="memberUpdate" parameterType="co.community.yedam.member.service.MemberVO">
	UPDATE MEMBER
		SET MEMBER_NAME = #{memberName},
			MEMBER_PW = #{memberPw}, 
			MEMBER_EMAIL = #{memberEmail},
            MEMBER_TEL = #{memberTel},
            MEMBER_ADDRESS = #{memberAddress},
            MEMBER_BIRTH = #{memberBirth}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<delete id="memberDelete" parameterType="co.community.yedam.member.service.MemberVO">
		DELETE MEMBER
		WHERE MEMBER_ID = #{memberId}
	</delete>
	
	<select id="isIdCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(MEMBER_ID) > 0 THEN 0 ELSE 1 END AS ID
		FROM MEMBER
		WHERE MEMBER_ID = #{id}
	</select>
	
</mapper>