<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.community.yedam.noticeBoard.service.NoticeBoardMapper">
	
	<select id="noticeBoardSelectList" resultType="co.community.yedam.noticeBoard.service.NoticeBoardVO">
		SELECT * FROM NOTICE_BOARD
	</select>
	
	<select id="noticeBoardSelect">
		SELECT * FROM NOTICE_BOARD
		WHERE NOTICE_BOARD_ID = #{vo.noticeBoardId}
	</select>
	
	<insert id="noticeBoardInsert">
		INSERT INTO NOTICE_BOARD
		VALUES (#{noticeBoardId},#{noticeBoardTitle},#{noticeBoardSubject},
				#{noticeBoardDate},#{noticeBoardAttech},#{noticeBoardAttechDir},
				#{noticeBoardHit},#{memberId})
		
	</insert>
	
	<update id="noticeBoardUpdate">
		UPDATE NOTICE_BOARD
		SET NOTICE_BOARD_TITLE = #{noticeBoardTitle}
		WHERE NOTICE_BOARD_ID = #{noticeBoardId}
	</update>
	
	<delete id="noticeBoardDelete">
		DELETE NOTICE_BOARD
		WHERE NOTICE_BOARD_ID = #{noticeBoardId}
	</delete>
	
	<select id="isMemberId">
		SELECT * FROM NOTICE_BOARD
		WHERE MEMBER_ID = #{memberId}
	</select>
</mapper>