<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.community.yedam.foodInfo.service.foodInfoMapper">


	<select id="foodInfoSelectList"
		resultType="co.community.yedam.foodInfo.service.foodInfoVO">
		SELECT * FROM FOODINFO
			</select>
	

	<!-- 동적 sql예시. id만 들어오면 찾아주고, 둘 다 들어오면 로그인 처리해주는 거 -->
	<select id="foodInfoSelect"
		resultType="co.community.yedam.foodInfo.service.foodInfoVO">
		SELECT * FROM FOODINFO
		WHERE INFO_ID = #{infoId}

	</select>

	

	<insert id="foodInfoInsert">
		<selectKey keyProperty="infoId" resultType="int"
			order="BEFORE">
			SELECT CASE WHEN MAX(INFO_ID) IS NULL THEN 1
		    ELSE
			MAX(INFO_ID) + 1 END AS ID
			FROM FOODINFO
		</selectKey>
		INSERT INTO FOODINFO 
		VALUES (#{infoName},#{infoTag},#{infoDetail},#{infoAddr},#{infoTel},#{infoTime},#{infoId},#{infoAttach},#{infoAttachDir})
		
	</insert>

	<update id="foodInfoUpdate">
		UPDATE FOODINFO
		<set>
		<if test="infoName != null">info_name =#{infoName},</if>
		<if test="infoTag != null">infoTag = #{infoTag},</if>
		<if test="infoDetail != null">infoDetail = #{infoDetail}</if>
		<if test="infoAddr != null">infoAddr = #{infoAddr}</if>
		<if test="infoTel != null">infoTel = #{infoTel}</if>
		<if test="infoTime != null">infoTime = #{infoTime}</if>
		<if test="infoId != null">infoId = #{infoId}</if>
		<if test="infoAttach != null">infoAttach = #{infoAttach}</if>
		<if test="infoAttachDir != null">infoAttachDir = #{infoAttachDir}</if>
		
		</set>
		WHERE INFO_ID = #{infoId}
	</update>

	<delete id="foodInfoDelete">
		DELETE from FOODINFO
		WHERE
		info_ID = #{infoId}
	</delete>
	




</mapper>