@charset "UTF-8";

nav>div>a:hover {
	background: yellow;
}

body {
	padding-top: 75px;
}

/*카드 컴포넌트 */
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

h2 {
	text-align: center;
	font-size: 1.6em
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.component img {
	max-width: 100%;
	display: block;
}

.component .description {
	text-align: center;
	padding: 1rem;
	margin-bottom: 2rem;
	background-color: #ffffff;
}

.description .here {
	color: #db008d;
}

.description .button {
	display: block;
	text-decoration: none;
	background-color: #757575;
	padding: 0.6rem 2rem;
	margin-top: 1rem;
	color: white;
}

@media ( min-width : 480px) {
	.component {
		flex: 0 0 calc(50% -1 rem)
	}
	;
}

@media ( min-width :768px) {
	.component {
		flex: 00 calc(33.3% - 1rem);
	}
}

img {
	max-width: 00px;
	display: block;
}

nav>div {
	padding: 0;
}